body{

margin:0;
font-family:sans-serif;
background:#0f172a;
color:white;

}


.dashboard{

display:flex;

}


.sidebar{

width:200px;
height:100vh;
background:#020617;
padding:20px;

}


.sidebar p{

cursor:pointer;
margin:15px 0;

}


.content{

padding:30px;

}


.authBox{

width:300px;
margin:120px auto;
padding:20px;
background:#1e293b;
border-radius:10px;

}


input{

width:100%;
padding:10px;
margin:10px 0;

}


button{

width:100%;
padding:10px;
background:#38bdf8;
border:none;
cursor:pointer;

}