.adminTable{
width:100%;
border-collapse:collapse;
margin-top:20px;
color:white;
}

.adminTable th{
text-align:left;
padding:14px;
color:#9b87f5;
border-bottom:1px solid rgba(255,255,255,0.2);
}

.adminTable td{
padding:14px;
border-bottom:1px solid rgba(255,255,255,0.08);
}

.adminTable tr:hover{
background:rgba(255,255,255,0.03);
}